<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
 -->

<mapper namespace="com.jk.gs.mapper.login.LoginMapper">
   <select id="login" resultType="com.jk.gs.model.user.Clientele">
       SELECT * FROM g_clientele WHERE clienteleNumber=#{clienteleNumber}
   </select>

    <insert id="addLog" parameterType="com.jk.gs.model.user.Log">
     INSERT INTO g_log(id,newDate,flag,ips,address,username) VALUES
     (#{id},#{newDate},#{flag},#{ips},#{address},#{username})
    </insert>
</mapper>